In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Dell\Desktop\weekday2019_08_06\titanic_dataset.csv')
print(df.describe(include = 'all'))

         Unnamed: 0       pclass     survived              name gender  \
count   1309.000000  1309.000000  1309.000000              1309   1309
unique          NaN          NaN          NaN              1307      2
top             NaN          NaN          NaN  Kelly, Mr. James   male
freq            NaN          NaN          NaN                 2    843
mean     654.000000     2.294882     0.381971               NaN    NaN
std      378.020061     0.837836     0.486055               NaN    NaN
min        0.000000     1.000000     0.000000               NaN    NaN
25%      327.000000     2.000000     0.000000               NaN    NaN
50%      654.000000     3.000000     0.000000               NaN    NaN
75%      981.000000     3.000000     1.000000               NaN    NaN
max     1308.000000     3.000000     1.000000               NaN    NaN

                age        sibsp        parch    ticket    fare        cabin  \
count   1046.000000  1309.000000  1309.000000      1309    1308          295
unique          NaN          NaN          NaN       929     263          186
top             NaN          NaN          NaN  CA. 2343  $8.05   C23 C25 C27
freq            NaN          NaN          NaN        11      60            6
mean      29.881135     0.498854     0.385027       NaN     NaN          NaN
std       14.413500     1.041658     0.865560       NaN     NaN          NaN
min        0.166700     0.000000     0.000000       NaN     NaN          NaN
25%       21.000000     0.000000     0.000000       NaN     NaN          NaN
50%       28.000000     0.000000     0.000000       NaN     NaN          NaN
75%       39.000000     1.000000     0.000000       NaN     NaN          NaN
max       80.000000     8.000000     9.000000       NaN     NaN          NaN

       embarked boat        body     home.dest
count      1307  486  121.000000           745
unique        3   27         NaN           369
top           S   13         NaN  New York, NY
freq        914   39         NaN            64
mean        NaN  NaN  160.809917           NaN
std         NaN  NaN   97.696922           NaN
min         NaN  NaN    1.000000           NaN
25%         NaN  NaN   72.000000           NaN
50%         NaN  NaN  155.000000           NaN
75%         NaN  NaN  256.000000           NaN
max         NaN  NaN  328.000000           NaN

In [3]:
print(df.columns.isna())

[False False False False False False False False False False False False
 False False False]

In [4]:
print(df.shape)

(1309, 15)

In [6]:
thresh = len(df) * 0.25
print(df.dropna(thresh = thresh, axis =1,inplace = True))

None

In [20]:
print(df.columns)

Index(['Unnamed: 0', 'pclass', 'survived', 'gender', 'age', 'sibsp', 'parch',
       'fare', 'embarked'],
      dtype='object')

In [37]:
print(df.dropna(subset = ['embarked'], inplace = True))

None

In [38]:
print(df.columns)

Index(['Unnamed: 0', 'pclass', 'survived', 'gender', 'age', 'sibsp', 'parch',
       'fare', 'embarked'],
      dtype='object')

In [21]:
print(df.dtypes)

Unnamed: 0      int64
pclass          int64
survived        int64
gender         object
age           float64
sibsp           int64
parch           int64
fare           object
embarked       object
dtype: object

In [47]:
print(df.fare.dtype)

object

In [52]:
col = df.fare.str.replace('$','')
col = col.astype('float')
print(col.dtype,col.head(5))

float64 0    211.34
1    151.55
2    151.55
3    151.55
4    151.55
Name: fare, dtype: float64
object

In [41]:
df.isna().sum()

Unnamed: 0    0
pclass        0
survived      0
gender        0
age           0
sibsp         0
parch         0
fare          1
embarked      0
dtype: int64

In [42]:
df.age.fillna(df.age.mean(), inplace = True)
print(df.age.isna().any())
print(df.describe())

False
        Unnamed: 0       pclass     survived          age        sibsp  \
count  1307.000000  1307.000000  1307.000000  1307.000000  1307.000000
mean    654.654935     2.296863     0.381025    29.850348     0.499617
std     377.931070     0.836942     0.485825    12.860391     1.042273
min       0.000000     1.000000     0.000000     0.166700     0.000000
25%     328.500000     2.000000     0.000000    22.000000     0.000000
50%     655.000000     3.000000     0.000000    29.881135     0.000000
75%     981.500000     3.000000     1.000000    35.000000     1.000000
max    1308.000000     3.000000     1.000000    80.000000     8.000000

             parch
count  1307.000000
mean      0.385616
std       0.866092
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       9.000000

In [49]:
print(df.fare.dtype)

object

In [53]:
df.fare.fillna(col.mean(), inplace = True)
#print(df.col.isna().any())
print(df.describe())

        Unnamed: 0       pclass     survived          age        sibsp  \
count  1307.000000  1307.000000  1307.000000  1307.000000  1307.000000
mean    654.654935     2.296863     0.381025    29.850348     0.499617
std     377.931070     0.836942     0.485825    12.860391     1.042273
min       0.000000     1.000000     0.000000     0.166700     0.000000
25%     328.500000     2.000000     0.000000    22.000000     0.000000
50%     655.000000     3.000000     0.000000    29.881135     0.000000
75%     981.500000     3.000000     1.000000    35.000000     1.000000
max    1308.000000     3.000000     1.000000    80.000000     8.000000

             parch
count  1307.000000
mean      0.385616
std       0.866092
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       9.000000

In [54]:
df.to_csv('titanic_filtered.csv')

In [56]:
#s = df.survived.replace(0,'D')
s = df['survived'].replace([0,1],['D','A'])

In [57]:
print(df['survived'].value_counts())

0    809
1    498
Name: survived, dtype: int64

In [61]:
g = df.groupby(by = ['gender', 'survived'])
print(g.sum())

                 Unnamed: 0  pclass           age  sibsp  parch
gender survived
female 0             110157     359   3350.815170    131    113
       1             164645     643  10010.496722    173    182
male   0             489518    1664  21234.183687    291    153
       1              91314     336   4418.909497     58     56

In [65]:
print(df.pclass.unique())
p = df.groupby(by = ['pclass'])
print(p.sum())

[1 2 3]
        Unnamed: 0  survived           age  sibsp  parch
pclass
1            51551       198  12186.780946    141    118
2           127697       119   8179.348152    109    102
3           676386       181  18648.275979    403    284

In [80]:
res = df.sort_values(by = ['age'], ascending = False)
print(res.head(5))
print()
print(res.head().gender.value_counts())

      Unnamed: 0  pclass  survived  gender   age  sibsp  parch     fare  \
14            14       1         1    male  80.0      0      0  $30.00
61            61       1         1  female  76.0      1      0  $78.85
1235        1235       3         0    male  74.0      0      0   $7.78
135          135       1         0    male  71.0      0      0  $34.65
9              9       1         0    male  71.0      0      0  $49.50

     embarked
14          S
61          S
1235        S
135         C
9           C

male      4
female    1
Name: gender, dtype: int64

In [84]:
res = df.sort_values(by = ['age'], ascending = False)
print(res.head(5))
print()
a = res.head(5).groupby(by = ['gender'])['age'].max()
print(a)
#print(a.age.value_counts())

      Unnamed: 0  pclass  survived  gender   age  sibsp  parch     fare  \
14            14       1         1    male  80.0      0      0  $30.00
61            61       1         1  female  76.0      1      0  $78.85
1235        1235       3         0    male  74.0      0      0   $7.78
135          135       1         0    male  71.0      0      0  $34.65
9              9       1         0    male  71.0      0      0  $49.50

     embarked
14          S
61          S
1235        S
135         C
9           C

gender
female    76.0
male      80.0
Name: age, dtype: float64

In [85]:
b = df.groupby(by = ['gender'])['age'].mean()
print(b)

gender
female    28.795931
male      30.430716
Name: age, dtype: float64

In [87]:
b = df.groupby(by = ['survived'])['age'].mean()
print(b)

survived
0    30.389368
1    28.974711
Name: age, dtype: float64