In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Dell\Desktop\weekday2019_08_06\titanic_dataset.csv')
print(df.describe(include = 'all'))

         Unnamed: 0       pclass     survived              name gender  \
count   1309.000000  1309.000000  1309.000000              1309   1309
unique          NaN          NaN          NaN              1307      2
top             NaN          NaN          NaN  Kelly, Mr. James   male
freq            NaN          NaN          NaN                 2    843
mean     654.000000     2.294882     0.381971               NaN    NaN
std      378.020061     0.837836     0.486055               NaN    NaN
min        0.000000     1.000000     0.000000               NaN    NaN
25%      327.000000     2.000000     0.000000               NaN    NaN
50%      654.000000     3.000000     0.000000               NaN    NaN
75%      981.000000     3.000000     1.000000               NaN    NaN
max     1308.000000     3.000000     1.000000               NaN    NaN

                age        sibsp        parch    ticket    fare        cabin  \
count   1046.000000  1309.000000  1309.000000      1309    1308          295
unique          NaN          NaN          NaN       929     263          186
top             NaN          NaN          NaN  CA. 2343  $8.05   C23 C25 C27
freq            NaN          NaN          NaN        11      60            6
mean      29.881135     0.498854     0.385027       NaN     NaN          NaN
std       14.413500     1.041658     0.865560       NaN     NaN          NaN
min        0.166700     0.000000     0.000000       NaN     NaN          NaN
25%       21.000000     0.000000     0.000000       NaN     NaN          NaN
50%       28.000000     0.000000     0.000000       NaN     NaN          NaN
75%       39.000000     1.000000     0.000000       NaN     NaN          NaN
max       80.000000     8.000000     9.000000       NaN     NaN          NaN

       embarked boat        body     home.dest
count      1307  486  121.000000           745
unique        3   27         NaN           369
top           S   13         NaN  New York, NY
freq        914   39         NaN            64
mean        NaN  NaN  160.809917           NaN
std         NaN  NaN   97.696922           NaN
min         NaN  NaN    1.000000           NaN
25%         NaN  NaN   72.000000           NaN
50%         NaN  NaN  155.000000           NaN
75%         NaN  NaN  256.000000           NaN
max         NaN  NaN  328.000000           NaN

In [4]:
print(df.columns.isna())

[False False False False False False False False False False False False
 False False False]

In [5]:
print(df.shape)

(1309, 15)

In [6]:
thresh = len(df) * 0.75
df.dropna(thresh = thresh, axis =1,inplace = True)

1309

In [ ]:
df.drop(['ticket','boat','home.dest','body','embarked'],axis = 1)

In [7]:
print(df.dtypes)

Unnamed: 0      int64
pclass          int64
survived        int64
name           object
gender         object
age           float64
sibsp           int64
parch           int64
ticket         object
fare           object
cabin          object
embarked       object
boat           object
body          float64
home.dest      object
dtype: object

In [10]:
print(df.fare.dtype)

object

In [15]:
col = df.fare.str.replace('$','')
col = col.astype('float')
print(col.dtype,col.head(5))

float64 0    211.34
1    151.55
2    151.55
3    151.55
4    151.55
Name: fare, dtype: float64

In [17]:
df.isna().sum()

Unnamed: 0       0
pclass           0
survived         0
name             0
gender           0
age            263
sibsp            0
parch            0
ticket           0
fare             1
cabin         1014
embarked         2
boat           823
body          1188
home.dest      564
dtype: int64

In [ ]:
df.age.fillna(df.age.mean(), inplace = True)
print(df.age.isna().any())
print(df.describe())

In [ ]:
df.fare.fillna(df.fare.mean(), inplace = True)
print(df.fare.isna().any())
print(df.describe())

In [ ]:
df.to_csv('titanic_filtered.csv')

In [20]:
#s = df.survived.replace(0,'D')
s = df['survived'].replace([0,1],['D','A'])

0       1
1       1
2       0
3       0
4       0
5       1
6       1
7       0
8       1
9       0
10      0
11      1
12      1
13      1
14      1
15      0
16      0
17      1
18      1
19      0
20      1
21      1
22      1
23      1
24      1
25      0
26      1
27      1
28      1
29      1
       ..
1279    0
1280    0
1281    0
1282    0
1283    0
1284    0
1285    0
1286    1
1287    0
1288    0
1289    0
1290    1
1291    0
1292    0
1293    0
1294    0
1295    0
1296    0
1297    0
1298    0
1299    0
1300    1
1301    0
1302    0
1303    0
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1309, dtype: int64

In [22]:
print(df['survived'].value_counts())

0    809
1    500
Name: survived, dtype: int64