- Read sheet "Australia by Residence" from Australia.xlsx
- Ignore the first 20 rows.
- List all Column and Row indexes(Print their names)

Dataset Analysis
- Describe the dataset
- Use values and index attributes on both Row and Column Indexes
- Check Shape, Datatypes and other attributes
- Observe the datatype of each columns' data
  

Drop
- Delete all Data where the Type = "Emmigrants" or Type is not "Immigrants" (Row Deletion)
- Find columns for which more than 50% data is missing and drop them (Column Deletion)
- Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
    Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Save the dataset to a new file AustraliaFiltered.csv

Head Tail Sort
- Find Total number of immigrants for all years, and create a new column Total in data Frame
- Sort Data by the new column Total and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

- Check if these have all unique values or not:
    - countries
    - continents
    - country continent pairs


- Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

In [1]:
import numpy as np
import pandas as pd

In [26]:
''' Read sheet "Australia by Residence" from Australia.xlsx
    Ignore the first 20 rows.
    List all Column and Row indexes(Print their names)
'''
df = pd.read_excel(r'C:\jupyter\Australia.xlsx', skiprows = 20, sheet_name = 'Australia by Residence')
print(df)

           Type Coverage                                             OdName  \
0     Emigrants     Both                                        Afghanistan
1     Emigrants     Both                                            Albania
2     Emigrants     Both                                            Algeria
3     Emigrants     Both                                     American Samoa
4     Emigrants     Both                                            Andorra
5     Emigrants     Both                                             Angola
6     Emigrants     Both                                           Anguilla
7     Emigrants     Both                                Antigua and Barbuda
8     Emigrants     Both                                          Argentina
9     Emigrants     Both                                            Armenia
10    Emigrants     Both                                              Aruba
11    Emigrants     Both                                          Australia
12    Emigrants     Both                                            Austria
13    Emigrants     Both                                         Azerbaijan
14    Emigrants     Both                                            Bahamas
15    Emigrants     Both                                            Bahrain
16    Emigrants     Both                                         Bangladesh
17    Emigrants     Both                                           Barbados
18    Emigrants     Both                                            Belarus
19    Emigrants     Both                                            Belgium
20    Emigrants     Both                                             Belize
21    Emigrants     Both                                              Benin
22    Emigrants     Both                                            Bermuda
23    Emigrants     Both                                             Bhutan
24    Emigrants     Both                   Bolivia (Plurinational State of)
25    Emigrants     Both                             Bosnia and Herzegovina
26    Emigrants     Both                                           Botswana
27    Emigrants     Both                                             Brazil
28    Emigrants     Both                             British Virgin Islands
29    Emigrants     Both                                  Brunei Darussalam
..          ...      ...                                                ...
418  Immigrants     Both          The former Yugoslav Republic of Macedonia
419  Immigrants     Both                                        Timor-Leste
420  Immigrants     Both                                               Togo
421  Immigrants     Both                                            Tokelau
422  Immigrants     Both                                              Tonga
423  Immigrants     Both                                Trinidad and Tobago
424  Immigrants     Both                                            Tunisia
425  Immigrants     Both                                             Turkey
426  Immigrants     Both                                       Turkmenistan
427  Immigrants     Both                           Turks and Caicos Islands
428  Immigrants     Both                                             Tuvalu
429  Immigrants     Both                                             Uganda
430  Immigrants     Both                                            Ukraine
431  Immigrants     Both                               United Arab Emirates
432  Immigrants     Both  United Kingdom of Great Britain and Northern I...
433  Immigrants     Both                        United Republic of Tanzania
434  Immigrants     Both                           United States of America
435  Immigrants     Both                       United States Virgin Islands
436  Immigrants     Both                                            Uruguay
437  Immigrants     Both                                         Uzbekistan
438  Immigrants     Both                                            Vanuatu
439  Immigrants     Both                 Venezuela (Bolivarian Republic of)
440  Immigrants     Both                                           Viet Nam
441  Immigrants     Both                          Wallis and Futuna Islands
442  Immigrants     Both                                     Western Sahara
443  Immigrants     Both                                              Yemen
444  Immigrants     Both                                             Zambia
445  Immigrants     Both                                           Zimbabwe
446  Immigrants     Both                                            Unknown
447  Immigrants     Both                                              Total

     AREA                         AreaName   REG                    RegName  \
0     935                             Asia  5501              Southern Asia
1     908                           Europe   925            Southern Europe
2     903                           Africa   912            Northern Africa
3     909                          Oceania   957                  Polynesia
4     908                           Europe   925            Southern Europe
5     903                           Africa   911              Middle Africa
6     904  Latin America and the Caribbean   915                  Caribbean
7     904  Latin America and the Caribbean   915                  Caribbean
8     904  Latin America and the Caribbean   931              South America
9     935                             Asia   922               Western Asia
10    904  Latin America and the Caribbean   915                  Caribbean
11    909                          Oceania   927  Australia and New Zealand
12    908                           Europe   926             Western Europe
13    935                             Asia   922               Western Asia
14    904  Latin America and the Caribbean   915                  Caribbean
15    935                             Asia   922               Western Asia
16    935                             Asia  5501              Southern Asia
17    904  Latin America and the Caribbean   915                  Caribbean
18    908                           Europe   923             Eastern Europe
19    908                           Europe   926             Western Europe
20    904  Latin America and the Caribbean   916            Central America
21    903                           Africa   914             Western Africa
22    905                 Northern America   905           Northern America
23    935                             Asia  5501              Southern Asia
24    904  Latin America and the Caribbean   931              South America
25    908                           Europe   925            Southern Europe
26    903                           Africa   913            Southern Africa
27    904  Latin America and the Caribbean   931              South America
28    904  Latin America and the Caribbean   915                  Caribbean
29    935                             Asia   920         South-Eastern Asia
..    ...                              ...   ...                        ...
418   908                           Europe   925            Southern Europe
419   935                             Asia   920         South-Eastern Asia
420   903                           Africa   914             Western Africa
421   909                          Oceania   957                  Polynesia
422   909                          Oceania   957                  Polynesia
423   904  Latin America and the Caribbean   915                  Caribbean
424   903                           Africa   912            Northern Africa
425   935                             Asia   922               Western Asia
426   935                             Asia  5500               Central Asia
427   904  Latin America and the Caribbean   915                  Caribbean
428   909                          Oceania   957                  Polynesia
429   903                           Africa   910             Eastern Africa
430   908                           Europe   923             Eastern Europe
431   935                             Asia   922               Western Asia
432   908                           Europe   924            Northern Europe
433   903                           Africa   910             Eastern Africa
434   905                 Northern America   905           Northern America
435   904  Latin America and the Caribbean   915                  Caribbean
436   904  Latin America and the Caribbean   931              South America
437   935                             Asia  5500               Central Asia
438   909                          Oceania   928                  Melanesia
439   904  Latin America and the Caribbean   931              South America
440   935                             Asia   920         South-Eastern Asia
441   909                          Oceania   957                  Polynesia
442   903                           Africa   912            Northern Africa
443   935                             Asia   922               Western Asia
444   903                           Africa   910             Eastern Africa
445   903                           Africa   910             Eastern Africa
446   999                            World   999                      World
447   999                            World   999                      World

     DEV             DevName    1980  ...    2004    2005    2006    2007  \
0    902  Developing regions       0  ...      80     120      70      80
1    901   Developed regions       0  ...      30      40      30      30
2    902  Developing regions      20  ...      20      20      30      40
3    902  Developing regions      10  ...       0       0       0       0
4    901   Developed regions       0  ...       0       0       0       0
5    902  Developing regions       0  ...      20      10      10      20
6    902  Developing regions       0  ...       0       0       0       0
7    902  Developing regions       0  ...       0       0       0       0
8    902  Developing regions     280  ...     380     360     370     360
9    902  Developing regions       0  ...      20      20      20      10
10   902  Developing regions       0  ...       0       0       0       0
11   901   Developed regions     320  ...      30      20      10      10
12   901   Developed regions     270  ...     900     860     900     480
13   902  Developing regions       0  ...      20      10      20      20
14   902  Developing regions      10  ...      20      10      10      20
15   902  Developing regions      60  ...     340     360     340     270
16   902  Developing regions     220  ...     480     540     480     500
17   902  Developing regions       0  ...       0       0      10      20
18   901   Developed regions       0  ...      20      10      10      10
19   901   Developed regions     130  ...     240     180     190     230
20   902  Developing regions       0  ...      10       0       0       0
21   902  Developing regions       0  ...       0       0       0       0
22   901   Developed regions      10  ...      30      10      30      40
23   902  Developing regions      10  ...      30      60      80      70
24   902  Developing regions      10  ...      20      30      30      30
25   901   Developed regions       0  ...     170     160     150     160
26   902  Developing regions      10  ...     140     200     230     140
27   902  Developing regions     160  ...     630     540     750     780
28   902  Developing regions       0  ...       0       0       0      10
29   902  Developing regions     100  ...     580     410     430     400
..   ...                 ...     ...  ...     ...     ...     ...     ...
418  901   Developed regions       0  ...     500     510     610     650
419  902  Developing regions       0  ...     280     170     970     450
420  902  Developing regions       0  ...       0       0      10       0
421  902  Developing regions       0  ...      10      10      30      10
422  902  Developing regions     130  ...     330     330     350     390
423  902  Developing regions      20  ...      30      40      60      30
424  902  Developing regions       0  ...      10       0      30      20
425  902  Developing regions    1500  ...    1850    1720    1690    1860
426  902  Developing regions       0  ...       0       0       0       0
427  902  Developing regions       0  ...       0       0       0       0
428  902  Developing regions      10  ...      30      20      20      20
429  902  Developing regions      40  ...     770     670     930     820
430  901   Developed regions       0  ...     360     420     360     410
431  902  Developing regions      40  ...    2760    3660    4680    3760
432  901   Developed regions   43540  ...   53140   53300   57250   61490
433  902  Developing regions      70  ...     200     930     890    1280
434  901   Developed regions   10470  ...   18540   18490   17320   19260
435  902  Developing regions       0  ...       0       0       0       0
436  902  Developing regions     310  ...      80     110      90      90
437  902  Developing regions       0  ...      80      70      60      80
438  902  Developing regions     150  ...     400     350     390     400
439  902  Developing regions      90  ...     130     180     160     160
440  902  Developing regions     130  ...    4500    5110    6610    8310
441  902  Developing regions       0  ...      10       0       0       0
442  902  Developing regions       0  ...       0       0       0       0
443  902  Developing regions      10  ...      40      20      10      40
444  902  Developing regions     150  ...     370     240     410     410
445  902  Developing regions     630  ...    1790    1560    1880    2180
446  999               World    4060  ...    1650    1800    2320   18310
447  999               World  184290  ...  350990  363470  402210  460650

       2008  2009  2010  2011  2012  2013
0       120    ..    ..    ..    ..    ..
1        30    ..    ..    ..    ..    ..
2        50    ..    ..    ..    ..    ..
3         0    ..    ..    ..    ..    ..
4         0    ..    ..    ..    ..    ..
5        10    ..    ..    ..    ..    ..
6         0    ..    ..    ..    ..    ..
7         0    ..    ..    ..    ..    ..
8       460    ..    ..    ..    ..    ..
9        10    ..    ..    ..    ..    ..
10        0    ..    ..    ..    ..    ..
11      810    ..    ..    ..    ..    ..
12      360    ..    ..    ..    ..    ..
13       10    ..    ..    ..    ..    ..
14       10    ..    ..    ..    ..    ..
15      150    ..    ..    ..    ..    ..
16      530    ..    ..    ..    ..    ..
17        0    ..    ..    ..    ..    ..
18       20    ..    ..    ..    ..    ..
19      250    ..    ..    ..    ..    ..
20        0    ..    ..    ..    ..    ..
21        0    ..    ..    ..    ..    ..
22       10    ..    ..    ..    ..    ..
23      100    ..    ..    ..    ..    ..
24       30    ..    ..    ..    ..    ..
25      170    ..    ..    ..    ..    ..
26      110    ..    ..    ..    ..    ..
27     1010    ..    ..    ..    ..    ..
28        0    ..    ..    ..    ..    ..
29      420    ..    ..    ..    ..    ..
..      ...   ...   ...   ...   ...   ...
418     660    ..    ..    ..    ..    ..
419     370    ..    ..    ..    ..    ..
420      30    ..    ..    ..    ..    ..
421      20    ..    ..    ..    ..    ..
422     640    ..    ..    ..    ..    ..
423      60    ..    ..    ..    ..    ..
424      10    ..    ..    ..    ..    ..
425    2080    ..    ..    ..    ..    ..
426       0    ..    ..    ..    ..    ..
427       0    ..    ..    ..    ..    ..
428      10    ..    ..    ..    ..    ..
429     460    ..    ..    ..    ..    ..
430     420    ..    ..    ..    ..    ..
431    4160    ..    ..    ..    ..    ..
432   65160    ..    ..    ..    ..    ..
433     760    ..    ..    ..    ..    ..
434   20860    ..    ..    ..    ..    ..
435       0    ..    ..    ..    ..    ..
436     100    ..    ..    ..    ..    ..
437     110    ..    ..    ..    ..    ..
438     400    ..    ..    ..    ..    ..
439     250    ..    ..    ..    ..    ..
440   11210    ..    ..    ..    ..    ..
441       0    ..    ..    ..    ..    ..
442       0    ..    ..    ..    ..    ..
443      40    ..    ..    ..    ..    ..
444     400    ..    ..    ..    ..    ..
445    2270    ..    ..    ..    ..    ..
446    4970    ..    ..    ..    ..    ..
447  535970    ..    ..    ..    ..    ..

[448 rows x 43 columns]

In [27]:
'''Dataset Analysis
    Describe the dataset
    Use values and index attributes on both Row and Column Indexes
    Check Shape, Datatypes and other attributes
    Observe the datatype of each columns' data
'''
print(df.columns)
print(df.index)
print(df.describe(include = 'all'))
print(df.shape)
print(df.size)
print(df.dtypes)

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')
RangeIndex(start=0, stop=448, step=1)
              Type Coverage            OdName        AREA AreaName  \
count          448      448               448  448.000000      448
unique           2        1               224         NaN        7
top     Immigrants     Both  Papua New Guinea         NaN   Africa
freq           224      448                 2         NaN      112
mean           NaN      NaN               NaN  912.955357      NaN
std            NaN      NaN               NaN   15.019682      NaN
min            NaN      NaN               NaN  903.000000      NaN
25%            NaN      NaN               NaN  903.750000      NaN
50%            NaN      NaN               NaN  908.000000      NaN
75%            NaN      NaN               NaN  909.000000      NaN
max            NaN      NaN               NaN  999.000000      NaN

                REG    RegName         DEV             DevName           1980  \
count    448.000000        448  448.000000                 448     448.000000
unique          NaN         23         NaN                   3            NaN
top             NaN  Caribbean         NaN  Developing regions            NaN
freq            NaN         46         NaN                 344            NaN
mean    1208.040179        NaN  902.642857                 NaN    1228.348214
std     1109.669573        NaN    9.165500                 NaN   10145.734028
min      905.000000        NaN  901.000000                 NaN       0.000000
25%      914.000000        NaN  902.000000                 NaN       0.000000
50%      922.000000        NaN  902.000000                 NaN      10.000000
75%      926.000000        NaN  902.000000                 NaN     130.000000
max     5501.000000        NaN  999.000000                 NaN  184290.000000

        ...           2004           2005           2006           2007  \
count   ...     448.000000     448.000000     448.000000     448.000000
unique  ...            NaN            NaN            NaN            NaN
top     ...            NaN            NaN            NaN            NaN
freq    ...            NaN            NaN            NaN            NaN
mean    ...    2514.241071    2545.357143    2709.866071    3023.348214
std     ...   19834.528214   20203.441660   21786.641444   24542.748186
min     ...       0.000000       0.000000       0.000000       0.000000
25%     ...      10.000000      10.000000      10.000000      10.000000
50%     ...      50.000000      50.000000      60.000000      70.000000
75%     ...     400.000000     410.000000     455.000000     480.000000
max     ...  350990.000000  363470.000000  402210.000000  460650.000000

                 2008  2009  2010  2011  2012  2013
count      448.000000   448   448   448   448   448
unique            NaN     1     1     1     1     1
top               NaN    ..    ..    ..    ..    ..
freq              NaN   448   448   448   448   448
mean      3376.116071   NaN   NaN   NaN   NaN   NaN
std      27950.462893   NaN   NaN   NaN   NaN   NaN
min          0.000000   NaN   NaN   NaN   NaN   NaN
25%         10.000000   NaN   NaN   NaN   NaN   NaN
50%         75.000000   NaN   NaN   NaN   NaN   NaN
75%        512.500000   NaN   NaN   NaN   NaN   NaN
max     535970.000000   NaN   NaN   NaN   NaN   NaN

[11 rows x 43 columns]
(448, 43)
19264
Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009        object
2010        object
2011        object
2012        object
2013        object
dtype: object

In [28]:
'''Drop

    Delete all Data where the Type = "Emmigrants" or Type is not "Immigrants" (Row Deletion)
    Find columns for which more than 50% data is missing and drop them (Column Deletion)
    Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion) Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"
'''

df=df[df.Type=='Immigrants']
df=df.replace('..',np.nan)
print(df.isna().any())
print(df.isna().sum()/df.shape[0])
df=df.loc[:, pd.notnull(df).sum()>len(df)*.5]
print(df.dtypes)

df = df.drop(columns=["Type","AREA","Coverage","REG","DEV"])
print()
print(df.dtypes)

Type        False
Coverage    False
OdName      False
AREA        False
AreaName    False
REG         False
RegName     False
DEV         False
DevName     False
1980        False
1981        False
1982        False
1983        False
1984        False
1985        False
1986        False
1987        False
1988        False
1989        False
1990        False
1991        False
1992        False
1993        False
1994        False
1995        False
1996        False
1997        False
1998        False
1999        False
2000        False
2001        False
2002        False
2003        False
2004        False
2005        False
2006        False
2007        False
2008        False
2009         True
2010         True
2011         True
2012         True
2013         True
dtype: bool
Type        0.0
Coverage    0.0
OdName      0.0
AREA        0.0
AreaName    0.0
REG         0.0
RegName     0.0
DEV         0.0
DevName     0.0
1980        0.0
1981        0.0
1982        0.0
1983        0.0
1984        0.0
1985        0.0
1986        0.0
1987        0.0
1988        0.0
1989        0.0
1990        0.0
1991        0.0
1992        0.0
1993        0.0
1994        0.0
1995        0.0
1996        0.0
1997        0.0
1998        0.0
1999        0.0
2000        0.0
2001        0.0
2002        0.0
2003        0.0
2004        0.0
2005        0.0
2006        0.0
2007        0.0
2008        0.0
2009        1.0
2010        1.0
2011        1.0
2012        1.0
2013        1.0
dtype: float64
Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
dtype: object

OdName      object
AreaName    object
RegName     object
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
dtype: object

In [37]:
'''Rename

    Rename columns :OdName -> Country; RegName -> Region
    Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
    Save the dataset to a new file AustraliaFiltered.csv
'''
df = df.rename(columns = {"OdName": "Country", "RegName":"Region"}) 
print(df.dtypes)
all_columns = list(df) # Creates list of all column headers
df[all_columns] = df[all_columns].astype(str)
#df.columns = df.columns.astype(str) 
print(df.dtypes)
df.to_csv('AustraliaFiltered.csv')

Country     object
AreaName    object
Region      object
DevName     object
1980        object
1981        object
1982        object
1983        object
1984        object
1985        object
1986        object
1987        object
1988        object
1989        object
1990        object
1991        object
1992        object
1993        object
1994        object
1995        object
1996        object
1997        object
1998        object
1999        object
2000        object
2001        object
2002        object
2003        object
2004        object
2005        object
2006        object
2007        object
2008        object
dtype: object
Country     object
AreaName    object
Region      object
DevName     object
1980        object
1981        object
1982        object
1983        object
1984        object
1985        object
1986        object
1987        object
1988        object
1989        object
1990        object
1991        object
1992        object
1993        object
1994        object
1995        object
1996        object
1997        object
1998        object
1999        object
2000        object
2001        object
2002        object
2003        object
2004        object
2005        object
2006        object
2007        object
2008        object
dtype: object

In [58]:
'''Head Tail Sort

    Find Total number of immigrants for all years, and create a new column Total in data Frame
    Sort Data by the new column Total and analyze the fist few rows. (get first few rows using head)
        find something weird in the dataset ? Delete that row 'world'
    Analyze last few rows also in the sorted result (Don't sort inplace)
    Check if these have all unique values or not:
        countries
        continents
        country continent pairs
'''
df = pd.read_csv(r'C:\jupyter\AustraliaFiltered.csv')
df['Total']= df.loc[:,'1980':'2008'].sum(1)
#print(df)

df2 = df.sort_values(by =['Total'], ascending = False)
#print(df2.head())

df3=df2.Region !='World'
df3=df2[df3]

print(df3.tail(8))

     Unnamed: 0                           Country  \
91          315                          Holy See
82          306                         Greenland
38          262          Central African Republic
168         392                      Saint Helena
169         393             Saint Kitts and Nevis
171         395  Saint Vincent and the Grenadines
6           230                          Anguilla
46          270                           Comoros

                            AreaName            Region             DevName  \
91                            Europe   Southern Europe   Developed regions
82                  Northern America  Northern America   Developed regions
38                            Africa     Middle Africa  Developing regions
168                           Africa    Western Africa  Developing regions
169  Latin America and the Caribbean         Caribbean  Developing regions
171  Latin America and the Caribbean         Caribbean  Developing regions
6    Latin America and the Caribbean         Caribbean  Developing regions
46                            Africa    Eastern Africa  Developing regions

     1980  1981  1982  1983  1984  ...  2000  2001  2002  2003  2004  2005  \
91      0     0     0     0     0  ...     0     0     0     0     0     0
82      0     0     0     0     0  ...     0     0     0     0     0     0
38      0     0     0     0     0  ...     0     0     0     0     0     0
168     0     0     0     0     0  ...     0     0     0     0     0     0
169     0     0     0     0     0  ...     0     0     0     0     0     0
171     0     0     0     0     0  ...     0     0     0     0     0     0
6       0     0     0     0     0  ...     0     0     0     0     0     0
46      0     0     0     0     0  ...     0     0     0     0     0     0

     2006  2007  2008  Total
91      0     0     0      0
82      0     0     0      0
38      0     0     0      0
168     0     0     0      0
169     0     0     0      0
171     0     0     0      0
6       0     0     0      0
46      0     0     0      0

[8 rows x 35 columns]

In [65]:
'''
    Find countries for which no of immigrants for all years is 0
    Find count of above countries
    Find countries for which no of immigrants is 0 for any year
'''

df_0 = df3[df3.Total == 0]  

print(df_0.loc[:, ['Country', 'Total']]) 
print('The total number of countries are',df_0.Country.count())

df_any_0 = df3[(df3[['1998','2008']] == 0).any(axis=1)]
print(df_any_0)

                              Country  Total
218                    Western Sahara      0
84                         Guadeloupe      0
129                           Mayotte      0
203          Turks and Caicos Islands      0
211      United States Virgin Islands      0
91                           Holy See      0
82                          Greenland      0
38           Central African Republic      0
168                      Saint Helena      0
169             Saint Kitts and Nevis      0
171  Saint Vincent and the Grenadines      0
6                            Anguilla      0
46                            Comoros      0
The total number of countries are 13
     Unnamed: 0                                Country  \
87          311                                 Guinea
11          235                              Australia
195         419                            Timor-Leste
164         388                                Réunion
176         400                           Sierra Leone
127         351                             Mauritania
144         368                              Nicaragua
113         337                                Lesotho
21          245                                  Benin
47          271                                  Congo
35          259                               Cameroon
58          282                               Djibouti
56          280       Democratic Republic of the Congo
76          300                                 Gambia
114         338                                Liberia
167         391                                 Rwanda
132         356                                 Monaco
50          274                          Côte d'Ivoire
197         421                                Tokelau
4           228                                Andorra
59          283                               Dominica
80          304                              Gibraltar
39          263                                   Chad
7           231                    Antigua and Barbuda
60          284                     Dominican Republic
123         347                                   Mali
28          252                 British Virgin Islands
185         409                     State of Palestine
187         411                               Suriname
192         416                             Tajikistan
..          ...                                    ...
3           227                         American Samoa
31          255                           Burkina Faso
88          312                          Guinea-Bissau
90          314                                  Haiti
170         394                            Saint Lucia
55          279  Democratic People's Republic of Korea
33          257                             Cabo Verde
148         372               Northern Mariana Islands
64          288                      Equatorial Guinea
217         441              Wallis and Futuna Islands
10          234                                  Aruba
68          292                         Faeroe Islands
126         350                             Martinique
202         426                           Turkmenistan
116         340                          Liechtenstein
73          297                          French Guiana
134         358                             Montserrat
218         442                         Western Sahara
84          308                             Guadeloupe
129         353                                Mayotte
203         427               Turks and Caicos Islands
211         435           United States Virgin Islands
91          315                               Holy See
82          306                              Greenland
38          262               Central African Republic
168         392                           Saint Helena
169         393                  Saint Kitts and Nevis
171         395       Saint Vincent and the Grenadines
6           230                               Anguilla
46          270                                Comoros

                            AreaName                     Region  \
87                            Africa             Western Africa
11                           Oceania  Australia and New Zealand
195                             Asia         South-Eastern Asia
164                           Africa             Eastern Africa
176                           Africa             Western Africa
127                           Africa             Western Africa
144  Latin America and the Caribbean            Central America
113                           Africa            Southern Africa
21                            Africa             Western Africa
47                            Africa              Middle Africa
35                            Africa              Middle Africa
58                            Africa             Eastern Africa
56                            Africa              Middle Africa
76                            Africa             Western Africa
114                           Africa             Western Africa
167                           Africa             Eastern Africa
132                           Europe             Western Europe
50                            Africa             Western Africa
197                          Oceania                  Polynesia
4                             Europe            Southern Europe
59   Latin America and the Caribbean                  Caribbean
80                            Europe            Southern Europe
39                            Africa              Middle Africa
7    Latin America and the Caribbean                  Caribbean
60   Latin America and the Caribbean                  Caribbean
123                           Africa             Western Africa
28   Latin America and the Caribbean                  Caribbean
185                             Asia               Western Asia
187  Latin America and the Caribbean              South America
192                             Asia               Central Asia
..                               ...                        ...
3                            Oceania                  Polynesia
31                            Africa             Western Africa
88                            Africa             Western Africa
90   Latin America and the Caribbean                  Caribbean
170  Latin America and the Caribbean                  Caribbean
55                              Asia               Eastern Asia
33                            Africa             Western Africa
148                          Oceania                 Micronesia
64                            Africa              Middle Africa
217                          Oceania                  Polynesia
10   Latin America and the Caribbean                  Caribbean
68                            Europe            Northern Europe
126  Latin America and the Caribbean                  Caribbean
202                             Asia               Central Asia
116                           Europe             Western Europe
73   Latin America and the Caribbean              South America
134  Latin America and the Caribbean                  Caribbean
218                           Africa            Northern Africa
84   Latin America and the Caribbean                  Caribbean
129                           Africa             Eastern Africa
203  Latin America and the Caribbean                  Caribbean
211  Latin America and the Caribbean                  Caribbean
91                            Europe            Southern Europe
82                  Northern America           Northern America
38                            Africa              Middle Africa
168                           Africa             Western Africa
169  Latin America and the Caribbean                  Caribbean
171  Latin America and the Caribbean                  Caribbean
6    Latin America and the Caribbean                  Caribbean
46                            Africa             Eastern Africa

                DevName  1980  1981  1982  1983  1984  ...  2000  2001  2002  \
87   Developing regions     0     0     0     0     0  ...    70   260   180
11    Developed regions   280   180   170   150   120  ...    10    10    10
195  Developing regions     0     0     0     0     0  ...    50   170   200
164  Developing regions     0     0     0     0     0  ...    20    20    30
176  Developing regions     0     0    10     0     0  ...     0    10    10
127  Developing regions     0     0     0     0     0  ...    10   120    30
144  Developing regions     0     0     0    10     0  ...    10    10     0
113  Developing regions    10    10    20    10    10  ...    10    10    30
21   Developing regions     0     0     0     0     0  ...     0    10    10
47   Developing regions     0     0     0     0     0  ...     0     0    10
35   Developing regions    10    10     0     0     0  ...    10    10     0
58   Developing regions     0     0     0     0     0  ...    10    20    30
56   Developing regions     0    10    10     0    10  ...     0     0     0
76   Developing regions    10     0     0     0     0  ...     0    10    20
114  Developing regions     0     0    10    10     0  ...     0     0    10
167  Developing regions     0     0     0     0     0  ...    10    10     0
132   Developed regions     0     0    10     0     0  ...     0    10    10
50   Developing regions     0     0    10    10    10  ...    10     0    10
197  Developing regions     0     0     0     0     0  ...    10     0     0
4     Developed regions     0     0    10     0     0  ...     0    10    10
59   Developing regions     0     0     0     0     0  ...    10    10    10
80    Developed regions     0     0     0     0     0  ...    10    10     0
39   Developing regions     0     0     0    10     0  ...     0     0    10
7    Developing regions     0     0     0     0     0  ...    10     0    10
60   Developing regions     0     0    10     0    10  ...     0     0     0
123  Developing regions     0     0     0     0     0  ...     0     0     0
28   Developing regions     0     0     0     0     0  ...     0     0    10
185  Developing regions     0     0     0     0     0  ...    10    10    10
187  Developing regions     0     0     0     0     0  ...     0     0     0
192  Developing regions     0     0     0     0     0  ...    10     0     0
..                  ...   ...   ...   ...   ...   ...  ...   ...   ...   ...
3    Developing regions     0     0     0     0     0  ...     0     0     0
31   Developing regions     0     0     0     0     0  ...     0     0     0
88   Developing regions     0     0     0     0     0  ...     0     0     0
90   Developing regions     0     0     0     0    10  ...     0     0     0
170  Developing regions     0     0     0     0     0  ...     0     0    10
55   Developing regions     0     0     0     0     0  ...     0     0     0
33   Developing regions     0     0     0     0     0  ...     0     0     0
148  Developing regions     0     0     0     0     0  ...     0     0     0
64   Developing regions     0     0     0     0     0  ...     0     0     0
217  Developing regions     0     0     0     0     0  ...     0     0     0
10   Developing regions     0     0     0     0     0  ...     0     0     0
68    Developed regions     0     0     0     0     0  ...     0     0     0
126  Developing regions     0     0     0     0     0  ...     0     0     0
202  Developing regions     0     0     0     0     0  ...     0    10     0
116   Developed regions     0     0     0     0     0  ...     0     0     0
73   Developing regions     0     0     0     0     0  ...     0     0     0
134  Developing regions     0     0     0     0     0  ...     0     0     0
218  Developing regions     0     0     0     0     0  ...     0     0     0
84   Developing regions     0     0     0     0     0  ...     0     0     0
129  Developing regions     0     0     0     0     0  ...     0     0     0
203  Developing regions     0     0     0     0     0  ...     0     0     0
211  Developing regions     0     0     0     0     0  ...     0     0     0
91    Developed regions     0     0     0     0     0  ...     0     0     0
82    Developed regions     0     0     0     0     0  ...     0     0     0
38   Developing regions     0     0     0     0     0  ...     0     0     0
168  Developing regions     0     0     0     0     0  ...     0     0     0
169  Developing regions     0     0     0     0     0  ...     0     0     0
171  Developing regions     0     0     0     0     0  ...     0     0     0
6    Developing regions     0     0     0     0     0  ...     0     0     0
46   Developing regions     0     0     0     0     0  ...     0     0     0

     2003  2004  2005  2006  2007  2008  Total
87    310   430  1250   950   880  1010   5340
11     10   590   700   140   220   780   3690
195   180   280   170   970   450   370   2840
164    20    40    80   100   120   110    560
176    10    20    50   110   100    90    540
127    10     0    40    30   100   150    530
144    10    10    10    20    20    20    360
113    20    10    10    10    10    10    350
21     10    10     0     0    90   210    350
47     10    10    10    90   100    70    300
35     10    20    10    30    70   100    280
58     20    20    10    10    20     0    270
56      0     0     0     0    10    20    260
76      0    10    10    20    20    20    200
114     0     0     0    20    30    50    180
167    20    10     0    50    40    20    180
132     0    10    10    20    20    20    180
50      0    10    10     0     0     0    170
197     0    10    10    30    10    20    110
4       0    10    10     0    10    10    100
59     20     0     0     0    10    10    100
80     10     0    10     0    10     0     90
39     10    10    10     0     0     0     80
7      10    10    10    10     0     0     80
60      0     0    10    20     0    20     80
123     0     0    10     0    10    20     70
28     10     0     0     0    10    20     70
185    10     0     0     0    10     0     50
187     0     0    10     0    10    10     50
192    10     0     0    10    10    10     50
..    ...   ...   ...   ...   ...   ...    ...
3       0     0     0     0     0    10     30
31      0     0    10     0    10     0     20
88      0     0     0     0     0     0     20
90      0     0     0     0     0     0     20
170     0     0     0     0     0    10     20
55     10     0     0     0     0     0     20
33      0     0     0     0     0     0     10
148     0     0     0     0     0    10     10
64      0     0     0     0     0     0     10
217     0    10     0     0     0     0     10
10      0     0     0     0     0     0     10
68      0     0     0    10     0     0     10
126     0     0     0    10     0     0     10
202     0     0     0     0     0     0     10
116     0     0     0     0     0    10     10
73      0     0     0     0     0     0     10
134     0     0     0     0     0    10     10
218     0     0     0     0     0     0      0
84      0     0     0     0     0     0      0
129     0     0     0     0     0     0      0
203     0     0     0     0     0     0      0
211     0     0     0     0     0     0      0
91      0     0     0     0     0     0      0
82      0     0     0     0     0     0      0
38      0     0     0     0     0     0      0
168     0     0     0     0     0     0      0
169     0     0     0     0     0     0      0
171     0     0     0     0     0     0      0
6       0     0     0     0     0     0      0
46      0     0     0     0     0     0      0

[65 rows x 35 columns]